@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

body {
display: flex;
flex-direction: column;
min-height: 100vh;
overflow-y: scroll;
margin: 0;
}

/* Header Styles */
header {
background-color: #4B5320;
padding: 0px 30px;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

/* Left Section */
.nav-left {
display: flex;
align-items: center;
}

.logo {
display: flex;
align-items: center;
}

.logo img {
height: 120px;
}

nav ul {
display: flex;
list-style: none;
margin-left: 0px;
}

nav ul li {
margin-left: 20px;
}

nav ul li a {
color: #FB8143;
text-decoration: none;
font-weight: 500;
font-size: 20px;
}

.nav-right .btn {
transition: none;
letter-spacing: normal;
}

.nav-right .btn:hover {
letter-spacing: normal;
}

.nav-right .btn:active {
transform: none;
}


/* Center Section (Search Bar) */
.search-container {
display: flex;
align-items: center;
background: #fff;
border-radius: 30px;
padding: 10px 20px;
height: 50px;
width: 600px;
}

.search-container input {
border: none;
background: transparent;
width: 100%;
outline: none;
font-size: 18px;
}

.search-container button {
background: transparent;
border: none;
cursor: pointer;
font-size: 20px;
color: #4B5320;
padding: 0 0px;
}

.search-container button:hover {
color: #FB8143;
}

/* Right Section */
.nav-right {
display: flex;
align-items: center;
}

.btn {
padding: 14px 20px;
border-radius: 10px;
border: none;
cursor: pointer;
margin-left: 10px;
font-weight: bold;
font-size: 18px;
}

.btn-primary {
background-color: #ff7043;
color: white;
}

.btn-secondary {
background-color: #fff;
color: #4B5320;
}

/* SignIn/SignUp */
.main-content {
display: flex;
justify-content: center;
align-items: center;
margin-top: 150px;
margin-bottom: 400px;
}

.main-content h1 {
font-weight: bold;
letter-spacing: 1px;
margin: 0;
margin-bottom: 15px;
}

.main-content h1.title {
font-size: 45px;
line-height: 45px;
margin: 0;
text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

.main-content p {
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.5px;
margin: 20px 0 30px;
text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

.main-content a {
color: #333;
font-size: 14px;
text-decoration: none;
margin: 15px 0;
transition: 0.3s ease-in-out;
}

.main-content a:hover {
color: red;
}

.main-content button { 
position: relative;
border-radius: 20px;
border: 1px solid whitesmoke;
background-color: #4B5320;
color: #fff;
font-size: 15px;
font-weight: 700;
margin-top: 40px;
padding: 12px 90px;
letter-spacing: 1px;
transition: 0.3s ease-in-out;
}

.main-content button:active {
transform: scale(0.95);
}

.main-content button:focus {
outline: none;
}

.main-content button.ghost {
background-color: rgba(225, 225, 225, 0.2);
border: 2px solid #fff;
color: #fff;
padding: 12px 90px;
margin-top: 0;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.main-content button.ghost i {
position: absolute;
opacity: 1;
transition: 0.3s ease-in-out;
font-size: 16px;
top: 50%;
transform: translateY(-50%);
}

.main-content button.ghost i.register {
right: 20px;
}

.main-content button.ghost i.login {
left: 20px;
}

.main-content button.ghost:hover i.register {
right: 10px;
}

.main-content button.ghost:hover i.login {
left: 10px;
}

.main-content form {
background-color: #fff;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 50px;
height: 100%;
text-align: center;
}

.main-content input {
background-color: #eee;
border-radius: 10px;
border: none;
padding: 12px 15px;
margin: 8px 0;
width: 100%;
}

.main-content .container {
background-color: #fff;
border-radius: 25px;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
position: relative;
overflow: hidden;
width: 800px;
max-width: 100%;
min-height: 500px;
}

.main-content .form-container {
position: absolute;
top: 0;
height: 100%;
transition: all 0.6s ease-in-out;
}

.main-content .login-container {
left: 0;
width: 50%;
z-index: 2;
}

.main-content .container.right-panel-active .login-container { 
transform: translateX(100%);
}

.main-content .register-container { 
left: 0;
width: 50%;
opacity: 0;
z-index: 1;
}

.main-content .container.right-panel-active .register-container {
transform: translateX(100%);
opacity: 1;
z-index: 5;
animation: main-content-show 0.6s;
}

@keyframes main-content-show { 
0%, 49.99% {
opacity: 0;
z-index: 1;
}
50%, 100% {
opacity: 1;
z-index: 5;
}
}

.main-content .overlay-container {
position: absolute;
top: 0;
left: 50%;
width: 50%;
height: 100%;
overflow: hidden;
transition: transform 0.6s ease-in-out;
z-index: 100;
}

.main-content .container.right-panel-active .overlay-container {
transform: translateX(-100%);
}

.main-content .overlay {
background-color: #4B5320;
background-repeat: no-repeat;
background-size: cover;
background-position: 0 0;
color: #fff;
position: relative;
left: -100%;
height: 100%;
width: 200%;
transform: translateX(0);
transition: transform 0.6s ease-in-out;
}

.main-content .overlay::before {
content: "";
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}

.main-content .container.right-panel-active .overlay {
transform: translateX(50%);
}

.main-content .overlay-panel {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 40px;
text-align: center;
top: 0;
height: 100%;
width: 50%;
transform: translateX(0);
transition: transform 0.6s ease-in-out;
}

.main-content .overlay-left {
transform: translateX(-20%);
}

.main-content .container.right-panel-active .overlay-left {
transform: translateX(0);
}

.main-content .overlay-right {
right: 0;
transform: translateX(0);
}

.main-content .container.right-panel-active .overlay-right {
transform: translateX(20%);
}

/* Footer */
footer {
background-color: #4B5320;
color: #FB8143;
padding: 30px;
}

.footer-content {
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}

.footer-content p {
font-size: 18px;
}

.footer-logo {
flex: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-bottom: 0;
}

.footer-logo img {
height: 140px;
}

.footer-logo p {
margin: 0;
padding: 0;
margin-left: 15px;
font-size: 16px;
}

.footer-sections {
display: flex;
gap: 10px;
justify-content: flex-end;
flex-wrap: wrap;
margin-top: 15px;
}

.footer-section {
min-width: 150px;
}

.footer-heading {
font-weight: bold;
margin-bottom: 15px;
text-transform: uppercase;
}

.footer-links {
list-style: none;
}

.footer-links li {
margin-bottom: 16px;
font-size: 16px;
}

.footer-links a {
color: #FB8143;
text-decoration: none;
}

.social-links {
display: flex;
gap: 15px;
}

.social-links a {
color: #FB8143;
font-size: 20px;
}