@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset and base styles */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

body {
background-color: #f9f6e8;
color: #4b5320;
}

/* Header Styles */
header {
background-color: #4B5320;
padding: 0px 30px;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

/* Left Section */
.nav-left {
display: flex;
align-items: center;
}

.logo {
display: flex;
align-items: center;
}

.logo img {
height: 120px;
}

nav ul {
display: flex;
list-style: none;
margin-left: 0px;
}

nav ul li {
margin-left: 20px;
}

nav ul li a {
color: #FB8143;
text-decoration: none;
font-weight: 500;
font-size: 20px;
}

.nav-right .btn {
transition: none;
letter-spacing: normal;
}

.nav-right .btn:hover {
letter-spacing: normal;
}

.nav-right .btn:active {
transform: none;
}


/* Center Section (Search Bar) */
.search-container {
display: flex;
align-items: center;
background: #fff;
border-radius: 30px;
padding: 10px 20px;
height: 50px;
width: 600px;
}

.search-container input {
border: none;
background: transparent;
width: 100%;
outline: none;
font-size: 18px;
}

.search-container button {
background: transparent;
border: none;
cursor: pointer;
font-size: 20px;
color: #4B5320;
padding: 0 0px;
}

.search-container button:hover {
color: #FB8143;
}

/* Right Section */
.nav-right {
display: flex;
align-items: center;
}

.btn {
padding: 14px 20px;
border-radius: 10px;
border: none;
cursor: pointer;
margin-left: 10px;
font-weight: bold;
font-size: 18px;
}

.btn-primary {
background-color: #ff7043;
color: white;
}

.btn-secondary {
background-color: #fff;
color: #4B5320;
}